<h1 appHighlight>All vehicles</h1>
<h6 appHighlight [color]="'blue'">Showing Availble vehicles in the table below</h6>
<input type="text" [(ngModel)]="term" placeholder="search">
<button (click)="filterVehicle()" class="btn btn-primary">submit</button>
<table>
    <thead>
        <tr> 
            <th>sno</th>
            <th>vehicle</th>
            <th (click)="sortVehicle('color')">color</th>
            <th>cost</th>
            <th  (click)="sortVehicle('fuel')">fuel</th>
            <th>id</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>tyres</th>
            <th>image</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ve of totalvehicle  ">
            <td>{{ve.id}}</td>
            <td>{{ve.vehicle}}</td>
            <td>{{ve.color}}</td>
            <td>{{ve.cost | price}}</td>
            <td>{{ve.fuel}}</td>
            <td>{{ve.id}}</td>
            <td>{{ve.manufacturer}}</td>
            <td>{{ve.model}}</td>
            <td>{{ve.type}}</td>
            <td>{{ve.tyres}}</td>
            <td>
                <img src="{{ve.image}}" alt="" width="100px" height="100px;">
            </td>
            <td>
                <button class="btn btn-primary" routerLink="/dashboard/view-vehicle/{{ve.id}}">view</button>

                <button class="btn btn-warning" routerLink="/dashboard/edit-vehicle/{{ve.id}}">edit</button>
                <button (click)="deleteVehicle(ve.id)" class="btn btn danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>


<button *ngFor="let x of [].constructor(10);let i=index"
        (click)="pageVehicle(i+1)">{{i+1}}</button>


        <!-- [emilyspass]  login password -->