<p *ngFor="let city of cities">{{city}}</p>
 <ol>
    <li *ngFor="let city of cities">{{city}}</li>
</ol>

<select name="" id="">
  <option *ngFor="let city of cities">{{city}}</option>
</select>

<p *ngFor="let product of products">{{product.name}}price is {{product.price}}</p>
 
<table border="1">
   <thead>
    <tr>
        <th>SNO</th>
        <th>name</th>
        <th>price</th>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let product of products; let i=index">
        <td>{{i+1}}</td>
        <td [ngClass]="{'costly':product.price>2000,'cheap':product.price<2000}">{{product.name|uppercase}}</td>
        <td [ngStyle]="{'color':product.price>20000? 'red':'green'}">{{product.price|price}}</td>
    </tr>
   </tbody>
</table>
<h1 *ngIf="isvalid">hlo</h1> 

<h1>{{today}}</h1>
<h1>{{today|date:'yyyy/MM/dd'}}</h1>
<h1>{{today|date:'yy/MM/dd'}}</h1>

<h1>{{user|json}}</h1>
  

 
 