
   <div class="parent">
    <h4>Body Mass Index (BMI) Calculator</h4> 
    <div class="left">
        <div class="left1">
        <label for="">Height:</label>
        <input type="number" [(ngModel)]="height"><span>cm</span><br>
        <label for="">weight:</label>
        <input type="number" [(ngModel)]="weight"><span>kg</span><br>
        <button (click)="calculator()">Calculate</button>
        <h3> {{result}} {{abc}}Your BMI is</h3></div></div>
        <div class="right">
        <div class="top">BODY MASS INDEX</div>
        <div class="bottom"><img src="https://media.istockphoto.com/id/1370909639/vector/bmi-classification-chart-measurement-man-set-male-body-mass-index-infographic-with-weight.jpg?s=170667a&w=is&k=20&c=ZbjEkHX1c2830HCfO-3nQiZF1YDjPsBe2y2q14nXDMg=" alt="" width="450px" height="250px"></div>
    </div>
</div>
    

