<h2>Creat Employee</h2>

<label for="">Name:</label>
<input type="text" [(ngModel)]="name"><br>

<label for="">Company</label>
<input type="text" [(ngModel)]="company"><br>

<label for="">Package</label>
<input type="text" [(ngModel)]="package"><br>

<label for="">Experience</label>
<input type="text" [(ngModel)]="exp"><br>

<label for="">Role</label>
<input type="text" [(ngModel)]="role"><br>

<button (click)="add()">Add Employee</button>

<h2>Action</h2>
<button (click)="above3exp()">Above 3years Experience</button>
<button (click)="tcsemp()">tcs employee</button>

<button (click)="addmr()">add mr before name</button>
<button (click)="add1()">add 1 year exp</button>

<button (click)="explh()">exp low to heigh</button>
<button (click)="exphl()">exp heigh to low</button>

<button (click)="total()">total employees</button>


<h2>employee</h2>
<table class="table table-dark table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Package</th>
            <th>Exeperience</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let employee of employees;let i=index">
            <td>{{employee.name}}</td>
            <td>{{employee.company}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.exp}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(i)">delete</button>
            </td>
        </tr>
      
    </tbody>
</table>
