<h1>{{id?'edit':'creat'}} Vehicle form</h1>
<form [formGroup]="VehicleForm" (ngSubmit)="submit">
<label for="">vehicle:</label>
<input type="text" formControlName="Vehicle"><br>

<label for="">manufacture:</label>
<input type="text"  formControlName="manufacturer"><br>

<label for="">model:</label>
<input type="text" formControlName="model"><br>

<label for="">type:</label>
<input type="text" formControlName="type"><br>

<label for="">fuel:</label>
<input type="text" formControlName="fuel"><br>

<label for="">color:</label>
<input type="text" formControlName="color"><br>

<label for="">image:</label>
<input type="text" formControlName="image"><br>

<label for="">cost:</label>
<input type="text" formControlName="cost"><br>

<label for="">tyres:</label>
<input type="text" formControlName="tyres"><br>

<input type="submit">
</form>


