<h1>Accounts</h1>
<input type="text" placeholder="search"[(ngModel)]="term" >

<button (click)="search()" class="btn btn-primary">submit</button>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>account_name</th>
            <th (click)="sort('account_number')">account_number</th>
            <th (click)="sort('available_balance')">available_balance</th>
            <th>city</th>
            <th>id</th>
            <th>ifsc</th>
            <th>profilepicture</th>
            <th>Action</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let acc of totalaccounts let i=index ">
            
             <td>{{i+1}}</td>
            <td>{{acc.account_name}}</td>
            <td>{{acc.account_number}}</td>
            <td>{{acc.available_balance}}</td>
            <td>{{acc.city}}</td>
            <td>{{acc.id}}</td>
            <td>{{acc.ifsc}}</td>
            <td>
                <img src="{{acc.profie_picture}}" alt="" width="100px" height="100px">
            </td>
            <td>
                <button (click)="deleteaccount(acc.id)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>


<button *ngFor="let x of [].constructor(10);let i=index"
        (click)="pageaccount(i+1)">{{i+1}}</button>


