<h1>Accounts</h1>
<input type="text" placeholder="search"[(ngModel)]="term"  (keyup)="filteraccount()">

<button (click)="filteraccount()" class="btn btn-primary">submit</button>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>account_name</th>
            <th (click)="sortaccount('accountnumber')">accountnumber</th>
            <th (click)="sortaccount('availabelbalance')">availabelbalance</th>
            <th>city</th>
            <th>id</th>
            <th>ifsc</th>
            <th>profilepicture</th>
            <th>Action</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let acc of totalaccounts let i=index ">
            
             <td>{{i+1}}</td>
            <td>{{acc.account_name}}</td>
            <td>{{acc.account_number}}</td>
            <td>{{acc.available_balance}}</td>
            <td>{{acc.city}}</td>
            <td>{{acc.id}}</td>
            <td>{{acc.ifsc}}</td>
            <td>
                <img src="{{acc.profie_picture}}" alt="" width="100px" height="100px">
            </td>
            <td>
                <button (click)="deleteaccount(acc.id)" class="btn btn-danger">delete</button>
            </td>
        </tr>
    </tbody>
</table>
