
<div class="parent">
        <h1>login Form</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
       
        <div class="action">
        <label for=""> user Name:</label>
        <input type="text"  formControlName="username"><br>

        <label for="">password:</label>
        <input type="password" formControlName="password"><br>
        <input type="submit" value="login">
        
        <!-- <button class="btn btn-primary" >LOGIN</button> -->
        </div>

    </form>
</div>



   <!-- [emilyspass]  login password -->



