  <div class="parent">
    <div class="child">
 <h2>Rectangale</h2>
    <label for="">Length:</label>
    &nbsp;<input type="number" [(ngModel)]="num1"><br>
    <label for="">Breadth:</label>
    <input type="number"  [(ngModel)]="num2"><br>
    <div class="btn">
    <button (click)="Area()">Area</button>
    &nbsp; <button (click)="paramitor()">paremitor</button>
    </div>
    <h1>result is :{{result}}</h1>
    </div>
    </div> 

   
          
<!-- 
    Length = 5
    Breadth = 3

 Area = 5 × 3 = 15
 Perimeter = 2 × (5 + 3) = 16 -->




    



