<h1>{{id ? 'Edit Student' : 'Create Student'}}</h1>
<form [formGroup]="studentForm" (ngSubmit)="submit()">
    <label for="">Name:</label>
    <input type="text" formControlName="name"><br>

    <label for="">City:</label>
    <input type="text" formControlName="city"><br>

    <label for="">phone:</label>    
    <input type="text" formControlName="phone"><br>

    <label for="">Email:</label>
    <input type="email" formControlName="email"><br>

   <label for="">D.O.B:</label>
    <input type="date" formControlName="dob"><br>

    <label for="">profile-picture:</label>
    <input type="text" formControlName="profile_picture"><br>
    <input type="submit">
    

    
</form>
