<h1 *ngIf="rating>4"><img width="70px" src="https://media.istockphoto.com/id/925469766/vector/five-stars-rating.jpg?s=612x612&w=0&k=20&c=0RDajKTok4O6ifhHTuIDg8eBlsTfpdVFIg3cE1_rTWE=" alt=""></h1>
<h1 *ngIf="rating>3 && rating<=4"><img width="70px" src="https://www.shutterstock.com/image-vector/four-stars-icon-vector-260nw-1316819477.jpg" alt=""></h1>
<h1 *ngIf="rating>2 && rating<=3"><img width="70px" src="https://www.shutterstock.com/image-vector/three-star-rating-icon-isolated-260nw-1711884229.jpg" alt=""></h1>
<h1 *ngIf="rating>1 && rating<=2"><img width="70px" src="https://www.shutterstock.com/image-vector/two-stars-icon-vector-260nw-1316819486.jpg" alt=""></h1>
<h1 *ngIf="rating>0 && rating<=1"><img width="70px" src="https://www.shutterstock.com/image-vector/one-stars-icon-vector-260nw-1316819483.jpg" alt=""></h1>

 <!-- <app-rating [rating]="3"></app-rating>  -->