

<div class="account-container">
  <h1 class="title">Account Details</h1>

  <div class="account-content">

    <div class="profile-section">
      <img [src]="accountForm.profie_picture" alt="Profile Image">
    </div>

    <div class="details-section">
      <p><span>Account Name:</span> {{accountForm.account_name}}</p>
      <p><span>Account Balance:</span> {{accountForm.available_balance}}</p>
      <p><span>Account Number:</span> {{accountForm.account_number}}</p>
      <p><span>City:</span> {{accountForm.city}}</p>
      <p><span>IFSC Code:</span> {{accountForm.ifsc_code}}</p>
      <p><span>ID:</span> {{accountForm.id}}</p>
    </div>

  </div>
</div>
 
