<div class="parent">
    
    <div class="left">
        <ul>
            <li routerLink="home">Home</li>
            <li routerLink="calculator">calculator</li>
            <li routerLink="data-binding">data-binding</li>
            <li routerLink="rectangle">rectangle</li>
            <li routerLink="circle">circle</li>
            <li routerLink="directives">directives</li>
            <li routerLink="event-registration">event-registration</li>
            <li routerLink="bmi-calculator">bmi-calculator</li>
            <li routerLink="employee">employee</li>
            <li routerLink="flipkart">flipkart</li>
            <li routerLink="vehicles">vehicle</li>
            <li routerLink="accounts">accounts</li>
            <li routerLink="pretty">pretty</li>
            <li routerLink="Mail">Mail</li>
            <li routerLink="weather">weather</li>
            <li routerLink="naukari">naukari</li>
            <li routerLink="contact-ceo">contact-ceo</li>
            <li routerLink="contact-director">contact-director</li>
            <li routerLink="payment/upi">upi payment</li>
            <li routerLink="payment/card">card payment</li>
            <li routerLink="movies/movie-list">movies</li>
            <li routerLink="vehicle2">vehicle2</li>
            <li routerLink="students">students</li>
            <li routerLink="create-user">create-user</li>
            <li routerLink="create-vehicle">create-vehicle</li>
            <li routerLink="create-accounts">create-accounts</li>
            <li routerLink="allpractice">allpractice</li>
            <li routerLink="form">form </li>
            <li routerLink="parent">parent</li>
            <li routerLink="rating">rating</li>
            <li routerLink="items">items</li>
            <li routerLink="nav">nav</li>
            <li routerLink="cart">cart</li>
            <li routerLink="comminication">comminication</li>
            
            
        </ul>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>







