<div class="parent">
    
    <div class="left">
        <ul>
            <li routerLink="home">Home</li>
            <li routerLink="calculator">calculator</li>
            <li routerLink="data-binding">data-binding</li>
            <li routerLink="rectangle">rectangle</li>
            <li routerLink="circle">circle</li>
            <li routerLink="directives">directives</li>
            <li routerLink="event-registration">event-registration</li>
            <li routerLink="bmi-calculator">bmi-calculator</li>
            <li routerLink="employee">employee</li>
            <li routerLink="flipkart">flipkart</li>
            <li routerLink="vehicles">vehicle</li>
            <li routerLink="accounts">accounts</li>
            <li routerLink="pretty">pretty</li>
            <li routerLink="Mail">Mail</li>
            
        </ul>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>