 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .parent{
    width:100%;
    height: 100vh;
    background-color: blueviolet;
     overflow: auto;
     
 }
 .top{
    width:100%;
    height:10%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
input{
    position: relative;
    right:80px;
    height:20px;
    width:100px;
    border: 0;
    outline: 0;
    border-radius:3px ;
    
}
.v{
    position: relative;
     right:60px;
     width:50px;
    height:20px;
    border:0;
    outline: 0;
    border-radius: 5px;
}

.a{
    position: relative;
    right:40px;
    width:60px;
    height: 20px;
    outline: 0;
    border:0;
    border-radius: 5px;
}

.so{
    position: relative;
    right:40px;
    width:50px;
    background-color: blue;
    color:white;

}
.so:hover{
    background-color: red;
}

.l{
    position: relative;
    left:35px;
    width:60px;
    height:20px;
    border:0;
    outline: 0;
    border-radius: 5px;
}

.pagen{
  position: relative;
  left:50px;
  width:90px;
  height: 30px;
  background-color: grey;
  color:white;
  border-radius: 5px;
  border:0;
  outline: 0;
}
.u{
    position: relative;
    left:45px;
    height:20px;
    border:0;
    outline: 0;
    width:60px;
    border-radius: 5px;
}
.pagen:hover{
    background-color: blueviolet;
}
.Add{
  position: relative;
  width:110px;
  height:30px;
  left:70px;
  background-color: rgb(171, 32, 32);
  color:white;
  border-radius: 5px;
  border:0;
  outline: 0;
}
.Add:hover{
    background-color: rgb(13, 49, 154);
}
.boxes{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width:90%;
    height:100%;
    gap:15px;
    
   
}

.box{
   height:60%;
   width:47%;
   background-color: brown;
   position: relative;
   top:20px;
   left:50px;
  


}

.box1{
    height:60%;
   width:47%;
   background-color: brown;
   position: relative;
   top:20px;
   left:50px;
   

}
.bottom-left{
    height:17%;
    width:100%;
    background-color: rgb(193, 219, 150);
    
}
.bottom-right{
    height:17%;
    width:100%;
    background-color: rgb(193, 219, 150);
   
}
.bottom-left1{
    width:100%;
    height:9%;
    background-color: orange;
    border:3px dashed black;

}
.bottom-right1{
    width:100%;
    height:9%;
    background-color: orange;
    border:3px dashed black;

}
img{
    height:60px;
    width:70px;
    border-radius: 5px;
    position: relative;
    right:2px;
    bottom:60px;
}
 
.middle{
    width:100%;
    height:60%;
     background-color: rgb(193, 219, 150);
}
.imageall{
    position: relative;
    left:300px;
    top:20px;
    width:110px;
    height:120px;
}
hr{
    width:380px;
}
.NCDPE{
    position: relative;
    bottom:100px;
    font-size: 10px;
    left:20px;
}

.threebtn{
  width:100%;
  height:14%;
  background-color: rgb(193, 219, 150);
  position: relative;
  
 
   
}
.three{
  display: flex;
  gap:40px;
  border-radius: 5px;
}

button{
    border-radius: 5px;
    width:100px;
    background-color: brown;
    position: relative;
    left:20px;
    border: 0;
    outline: 0;
    font-weight: bold;
}
.pa{
    background-color: green;
}
.pa:hover{
    background-color: blue;
}
.vi{
    background-color: grey;
}
.vi:hover{
    background-color: brown;
}
.th{
    background-color: brown;
}
.th:hover{
   background-color: blueviolet;
}